body{
    background-color: #0a0f1a;
    color: white;
    font-family: 'Luckiest Guy';
}
h2{
    
}

img{
    width: 228px;
    height: 228px;
}

.container{
    display: inline-block;
    border: 1px solid red;
}