body{
    background-color: #0a0f1a;
    color: white;
    font-family: 'Luckiest Guy';
}
img{
    max-width: 100%;
    display: block;
}
p{
    margin: 0;
}
h3{
    text-align: center;
    font-size: 30px;
}
h4{
    font-size: 22px;
    margin: 8px 0 5px 0;
}
.vbuck{
    width: 20px;
    height: 20px;
    padding-right: 4px;
}
.itemBox{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#mainDiv{
    border: 1px solid red;
    text-align: center;
    
}
.container{
    cursor: pointer;
    width: 240px;
    position: relative;
    margin: 10px 5px;
    display: inline-block;
}

.itemInfo{
    background: rgba(0,0,0,.3);
    text-align: center;
    position: absolute;
    top: 178px;
    width: 240px;
    height:65px;
}

.rarity-gaming_legends{
    background: radial-gradient(#5447d4,#312497);
    border: 3px solid #8078ff;
}

.rarity-icon_series{
    background: radial-gradient(#36b7b7,#256b6b);
    border: 3px solid #52e0e0;
}

.rarity-uncommon{
    background: radial-gradient(#6abb1e,#175117);
    border: 3px solid #88e339;
}

.rarity-rare{
    background: radial-gradient(#2cc0ff,#143877);
    border: 3px solid #37d0ff;
}

.rarity-epic{
    background: radial-gradient(#c359ff,#4c2483);
    border: 3px solid #ea5eff;
}

.rarity-legendary{
    background: radial-gradient(#ea8d23,#78371d);
    border: 3px solid #e98d4b;
}

.starwars{
    background: radial-gradient(#1b366e,#081737);
    border: 3px solid #e7c413;
  }